{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="titleList">
{% if section.title == "Projects" %}
  {% for page in pages %}
    <li>
      <div class="project">
        <span class="title">
        <a href="{{ page.permalink | safe }}">{{ page.title }}</a></span><span class="date">
        {{ page.date | date(format="%B %Y") }} : {% if page.extra.end_date %} {{ page.extra.end_date | date(format="%B %Y") }} {% else %} ? {% endif %}</span>
        {% if page.description %}
      </div>
      <span class="description">{{ page.description | truncate(length=150) }}</span>{% endif %}
    </li>
  {% endfor %}
{% else %}
  {% for page in pages %}
    <li>
      <span class="title">
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a></span><span class="date">{{ page.date | date(format="%B %Y") }}</span>
    </li>
  {% endfor %}
{% endif %}
</ul>

{% if paginator %}
<div class="metaData">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}
{% endblock content %}
